*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    color: #fff;
    font-family: 'plain light';

    
}

html, body {
    overflow-x: hidden;
    margin: 0;
}
/* cursor */
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    position: fixed;
    border: 2px solid #fff;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50% ,-50%);
 
}
/* loading */

#loader{
    height: 100Vh;
    width: 100%;
    position: fixed;
    background-color: #0b0b0b;
    z-index: 999;
    padding: 20vh 10vw;
}

.line{
   
    height: fit-content;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 3.5vw;
    width: 100%;
}
.line-left{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1vw;
}

.line-left h5 , .line-left h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 600;
}
.line-left h5 {
    width: 4.3vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.now {
    text-transform: uppercase;
    font-weight: 900;
    
}
.now h3{
    font-size: 5vw;


    animation-name: now;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

/* animation for now  */
@keyframes now {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family:'silk serif' ;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family:'silk serif' ;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}



#main{
    position: relative;
    background-color: #151511

    
  
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151511;
    
}
#nav{
    padding: 3vw 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}
.right h2{
    font-size: 1vw;
    font-weight: 500;
}
.right::before{
    content: "01";
    position:absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
    left: 20%;
    top: 18%;
}

#hero{
    width: 80%;
    height: fit-content;
   margin-left: 30%;
   z-index: 99999;
   
  
   /* background-color: red; */
    
}
.hero:nth-child(1){
    margin-top: 100px;
}
.hero3  h2{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;   
    
    padding-bottom:1.2vw;
    border-bottom: 0.5vw solid #fff;
 
}

.hero3 h2:hover{
    -webkit-text-stroke:1px  #fff;
    color: transparent;
    font-weight: 500;
}
.hero3 { display: flex;
   
    }
    #hero3{
        /* background-color: red; */
        z-index: 9999;
        position: relative;
    }
#hero h1{
  
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
    
   

}



#page2{
    height: 100vh; 
    width: 100%;
    padding-top: 7vh;
    background-color: #151511;
}
#video{
    height: 66vh;
    width: 71vw;
    position:relative;
    left: 28%;
    background-image: url(./showcase\ image.jpg);
    background-size: cover;
    background-position: center;
}
#video img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video video{
height: 100%;
width: 100%;
object-fit: cover;
opacity: 0;
}

#videocursor{
background-color: #ffa63d;
height: 8vw;
width: 8vw;
border-radius: 50%;
position: absolute;
top: -10%;
left: 80%;
display: flex;
align-items: center;
justify-content: center;
z-index: 999;
}

#videocursor i { 
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
}
#flag {
    position: absolute;
    height: 25vw;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}


#page4{
    /* width: 100%; */
   min-height: 100vh;
    background-color: #151515;
    position: relative;
    padding-top: 5vh;
}

#page4-content{
    width: 72vw;
  position:relative;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;

}
#page4-content h1::before{
    content: "03";
    position:absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
    left: -12%;
    top: 1%;
}

#page4-content>p { 
    font-size: 2vw;
    width: 50%;
    margin-bottom: 5vw;
}
.imgflex{
    display: flex;
}

.imgflex img{
    width: 48%;

}

.imgflex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}

#bluebox{
   padding: 3vw;
    width: 33vw;
    background-color: #3F7DF4;
    margin-top: -35vh;
    margin-left: 26vw;
    z-index: 99;
    position: relative;
}
.blueelm{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #fff;
}

.blueelm h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.blueelm p{
    width: 50%;
    font-size: 0.7vw;
}


#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
    background-color: #151515;
    position: relative;
}
.elem{
white-space: nowrap;
overflow-x: hidden;
margin-bottom: hidden;
}
.elem h1{
    font-size: 7vw;
-webkit-text-stroke: 1px white;
text-transform: uppercase;
color: transparent;
display:inline-block;
font-weight:400;
margin-right: 16px;
animation-name:move ;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: hidden;
    }

.elem2 h1{
    font-size: 7vw;
-webkit-text-stroke: 1px white;
text-transform: uppercase;
color: transparent;
display:inline-block;
font-weight:400;
transform: translateX(calc(-100% - 20px));
animation-name:move ;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: reverse;
}

.elem span, .elem2 span{
    font-style: italic;
    font-family: 'slik serif';
    color: transparent;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#footer{
    height: 80vh;
    position: relative;
    width: 100%;
    padding-left: 28vw;

}
#footer h1{
    font-size: 7vw;
    width: 60vw;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
}

#footer h1::before{
    content: "04";
    position:absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
    left: -12%;
    top: 10%;
}
.underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
}

#footer-div h5{
    font-size: 1.4vw;
    margin: 0.2vh 0;
    font-weight: 500;
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
}

.box{
    width: 20%;
}

.footer-end h5{
    font-size: 0.9vw;
    left: 20%;
}



#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151511;
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

#page3 h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 h1::before {
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}

#page3 .underline {
    margin-left: 28vw;

}

#image-div-container {
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.image-div {
    height: 42vw;
    width: 31vw;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 1vw;
    /* background-color: blue; */
}

.image-div:nth-child(1) {
    height: 29vw;
    width: 21vw;
}

.image-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-circle1 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23vh;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 10vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page3-circle1 svg {
    height: 30%;
}

.page3-circle2 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vw;
    margin-right: 3vw;
}

.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    scale: 0;
    border-radius: 50%;
}

.circle-in p {
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    width: 60%;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    /* opacity: 0; */
}

.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover p {
    scale: 1.2;
    opacity: 1;
}

.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover p {
    scale: 1.2;
    opacity: 1;
}






/* main to make the gooey effects work  */


._canvas_container{
    z-index: 99999999999 !important;
    pointer-events: none;
}

html.has-scroll-smooth {
    overflow: hidden;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth #main {
    position: relative;
}

[data-scroll-container] {
    position: relative;
    min-height: 100vh;
}

[data-scroll-section] {
    position: relative;
    width: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: grab;
}

.has-scroll-scrolling .c-scrollbar_thumb {
    cursor: grabbing;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: grabbing;
}